*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
    color: #DEEBF8;
}

img {
    max-width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21222A;
    min-height: 400px;
    padding: 2em;
}

.banner img {
    height: 100px;
    margin-bottom: 2em;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}

.banner h2 {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
}

main {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2.5em 0;
}

main h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #42CBE3;
}

.project {
    border-radius: 20px;
    border: 1px solid #414755;
    margin: 1.25em 0;
    padding: 1.25em;
}

.project__title {
    font-size: 1.25rem;
    color: #DEEBF8;
    text-decoration: none;
}

.project__title:hover {
    text-decoration: underline;
}

.project__date {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #9BA0B2;
    margin: 0;
}

.project__date img {
    height: 0.875em;
    filter: invert(73%) sepia(21%) saturate(215%) hue-rotate(190deg) brightness(86%) contrast(82%);
    margin-right: 0.5em;
}

.project__tools {
    font-size: 0.875rem;
    color: #42CBE3;
    margin: 0;
}

.project__description {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    main h3 {
        text-align: left;
    }
}
